@{
    ViewData["Title"] = "Admin";
}

@model CrashViewModel

<h1>Admin</h1>

<a class="btn btn-success" role="button" asp-action="CreateEditCrash">Add</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Road</th>
            <th scope="col">Severity</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crash in Model.Crashes)
        {
            <tr>
                <th scope="row">@crash.CRASH_ID</th>
                <td>@crash.CRASH_DATETIME</td>
                <td>@crash.CITY</td>
                <td>@crash.MAIN_ROAD_NAME</td>
                <td>@crash.CRASH_SEVERITY_ID</td>
                <td><a class="btn btn-outline-info btn-sm" role="button" asp-action="Edit" asp-route-crashId="@crash.CRASH_ID">Edit</a></td>
                <td><a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete" asp-route-crashId="@crash.CRASH_ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end" page-blah="@Model.PageInfo" page-action="Index"></ul>
</nav>
