@{
    ViewData["Title"] = "Admin";
}

@model List<CrashModel>

<h1>Admin</h1>

<a class="btn btn-success" role="button" asp-action="Edit">Add</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Date</th>
            <th scope="col">City</th>
            <th scope="col">Road</th>
            <th scope="col">Severity</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var crash in Model)
        {
            <tr>
                <th scope="row">@crash.CRASH_ID</th>
                <td>@crash.CRASH_DATETIME</td>
                <td>@crash.CITY</td>
                <td>@crash.MAIN_ROAD_NAME</td>
                <td>@crash.CRASH_SEVERITY_ID</td>
                <td><a class="btn btn-outline-info btn-sm" role="button" asp-action="Edit">Edit</a></td>
                <td><a class="btn btn-outline-danger btn-sm" role="button" asp-action="Delete">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
